<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Obchod s hrami - NEV0067 & BIE0054</title>
    </head>
    <body>
        <header>
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-primary border-bottom box-shadow mb-3">
                <div class="container-fluid">
                    <b><a class="navbar-brand" href="{% url 'index' %}">Obchod s hrami</a></b>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-light" href="{% url 'index' %}">Domů</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-light" href="{% url 'items' %}">Položky</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-light" href="{% url 'categories' %}">Kategorie</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-light" href="{% url 'publishers' %}">Vydavatelé</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-light" href="{% url 'sales' %}">Slevy</a>
                            </li>
                            {% if request.user.is_superuser %}
                            <li class="nav-item">
                                <a class="nav-link text-light" href="{% url 'admin:index' %}">Admin konzole</a>
                            </li>
                            {% endif %}
                        </ul>
                        <div class="navbar-collapse collapse justify-content-end">
                            <ul class="navbar-nav">
                                {% if request.user.is_authenticated %}
                                    <li class="nav-item">
                                        <a class="nav-link text-light"><b>Přihlášen jako {{request.user.username}}</b></a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-light" href="{% url 'logout' %}">Odhlásit</a>
                                    </li>
                                {% else %}
                                    <li class="nav-item">
                                        <a class="nav-link text-light"><b>Nepřihlášen</b></a>
                                    </li>
                                    <li class="nav-item justify-content-end">
                                        <a class="nav-link text-light" href="{% url 'login' %}">Přihlásit</a>
                                    </li>
                                    <li class="nav-item justify-content-end">
                                        <a class="nav-link text-light" href="{% url 'register' %}">Registrovat</a>
                                    </li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </div>
            </nav>
        </header>

        {% block content %}

        {% endblock content %}

        <div class="text-center">
            <footer class="border-top footer text-muted fixed-bottom bg-light">
                <div class="container my-2">
                    &copy; 2022 - NEV0067 & BIE0054 - skjprojekt - <a href="{% url 'documentation' %}">dokumentace</a>
                </div>
            </footer>
        </div>
    </body>
</html>
