{% extends 'base.html' %}


{% block content %}

<div class="p-3">
    <div class="card text-center p-0">
      <div class="card-body">
        <h4 class="card-title">
            Kategorie
        </h4>
        <p class="card-description">
          Hromadné zobrazení všech kategorií
        </p>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>ID kategorie</th>
                            <th>Název</th>
                            <th>Popis</th>
                            {% if request.user.is_superuser %}
                            <th>Akce</th>
                            {% endif %}
                    </thead>
                    <tbody>
                        {% for category in categoryList %}
                        <tr>
                            <td>{{ category.id }}</td>
                            <td>{{ category.nazev }}</td>
                            <td>{{ category.popis }}</td>
                            {% if request.user.is_superuser %}
                            <td><a class="button" href="{% url 'editCategories' category.id %}">Upravit</a></td>
                            {% endif %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock content %}