{% extends 'base.html' %}


{% block content %}

<div class="p-3">
    <div class="card text-center p-0">
      <div class="card-body">
        <h4 class="card-title" style="margin-bottom: 25px">
            Zobrazení dokumentace
        </h4>
        <embed src="https://homel.vsb.cz/~nev0067/DS2-CS2/NEV0067%20(Projekt%20-%20DS2)%20v5.pdf" width="100%" height="680px" />
        </div>
    </div>
</div>


{% endblock %}