{% extends 'base.html' %}


{% block content %}

<div class="p-3">
    <div class="card text-center p-0">
        <div class="card-body">
            <h4 class="card-title">
                Úprava slev
            </h4>
            <form action="{% url 'editSales' saleId %}" method='POST' class='mt-4'>
                {% csrf_token %}
                <table style="margin: auto; width: 25%">
                    {{ form.as_table }}
                </table>
                <input type='submit' value='Upravit' class='mt-3'>
            </form>
        </div>
    </div>
</div>

{% endblock content %}