{% extends 'base.html' %}


{% block content %}

<div class="text-center">
    {% if request.user.is_authenticated %}
    <h1 class="display-4">
        Vítejte, {{request.user.username}}!
    </h1>
    <h2>
        Evidenční systém obchodu s hrami
    </h2>
    <p>
        Verze 5.0
    </p>
    {% else %}
    <h1 class="display-4">
        Vítejte
    </h1>
    <h2>
        Pro pokračování se prosím prihlašte
    </h2>
    {% endif %}
</div>

{% endblock content %}