{% extends 'base.html' %}


{% block content %}

<div class="p-3">
    <div class="card text-center p-0">
      <div class="card-body">
        <h4 class="card-title">
            Položky
        </h4>
        <p class="card-description">
          Hromadné zobrazení všech položek
        </p>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>ID položky</th>
                            <th>Název</th>
                            <th>Popis</th>
                            <th>Cena</th>
                            <th>Kusů momentálně</th>
                            <th>Kusů minimálně</th>
                            <th>Kategorie</th>
                            <th>Vydavatel</th>
                            {% if request.user.is_superuser %}
                            <th>Akce</th>
                            {% endif %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in itemList %}
                        <tr>
                            <td>{{ item.id }}</td>
                            <td>{{ item.nazev }}</td>
                            <td>{{ item.popis }}</td>
                            <td>{{ item.Property_cena }}</td>
                            <td>{{ item.ks_momentalne }}</td>
                            <td>{{ item.ks_min }}</td>
                            <td>{{ item.Kategorie_id_kategorie }}</td>
                            <td>{{ item.Vydavatele_id_vydavatele }}</td>
                            {% if request.user.is_superuser %}
                            <td><a class="button" href="{% url 'editItems' item.id %}">Upravit</a></td>
                            {% endif %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock content %}