{% extends 'base.html' %}


{% block content %}

<body>
    <div class="container col-3">
        <form method="POST" action="{% url 'login' %}">
            {% csrf_token %}
            <label for="id_username">Username</label>
            <input type="text" class="form-control my-2" name="username" id="id_username" placeholder="">
            
            <label for="id_password">Password</label>
            <input type="password" class="form-control my-2" name="password" id="id_password" placeholder="">

            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            
            <button class="btn btn-primary btn-login my-2 col-12" type="submit">Login</button>
        </form>
    </div>
</body>

{% endblock content %}