{% extends 'base.html' %}


{% block content %}

<div class="p-3">
    <div class="card text-center p-0">
        <div class="card-body">
            <h4 class="card-title">
                Vydavatelé
            </h4>
            <p class="card-description">
              Hromadné zobrazení všech vydavatelů
            </p>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>ID vydavatele</th>
                            <th>Název</th>
                            <th>Popis</th>
                            {% if request.user.is_superuser %}
                            <th>Akce</th>
                            {% endif %}
                    </thead>
                    <tbody>
                        {% for publisher in publisherList %}
                        <tr>
                            <td>{{ publisher.id }}</td>
                            <td>{{ publisher.nazev }}</td>
                            <td>{{ publisher.popis }}</td>
                            {% if request.user.is_superuser %}
                            <td><a class="button" href="{% url 'editPublishers' publisher.id %}">Upravit</a></td>
                            {% endif %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock content %}