{% extends 'base.html' %}


{% block content %}

<div class="p-3">
    <div class="card text-center p-0">
        <div class="card-body">
            <h4 class="card-title">
                Slevy
            </h4>
            <p class="card-description">
              Hromadné zobrazení všech slev
            </p>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>ID slevy</th>
                            <th>Datum počátku</th>
                            <th>Datum konce</th>
                            <th>Výše</th>
                            <th>Stav</th>
                            <th>Zlevněná položka</th>
                            {% if request.user.is_superuser %}
                            <th>Akce</th>
                            {% endif %}
                    </thead>
                    <tbody>
                        {% for sale in saleList %}
                        <tr>
                            <td>{{ sale.id }}</td>
                            <td>{{ sale.datum_pocatku }}</td>
                            <td>{{ sale.datum_konce }}</td>
                            <td>{{ sale.Property_vyse }}</td>
                            <td>{{ sale.Property_stav }}</td>
                            <td>{{ sale.Polozky_id_polozky }}</td>
                            {% if request.user.is_superuser %}
                            <td><a class="button" href="{% url 'editSales' sale.id %}">Upravit</a></td>
                            {% endif %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock content %}